*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#548687; 
    text-align:center; 
}

.container{
    height:70vh; /*it means we have given the 70% of space to our container out of our webpage*/
    display:flex;
    justify-content:center;
    align-items:center;
}

.game{
    height:60vmin;    /* it means we have given the 60% of the space to our game out of the space occupied by container which is 70%*/
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;  /*it comes to the center of the space occupied by game box*/
    gap:1.5vmin;
}

.box{
    height:18vmin; 
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color:#b0413e;
    background-color: #ffffc7;
}


#reset-btn{
    padding:1rem;
    font-size:1.5rem;
    background-color: #191913;
    color: #fff;
    border-radius:1rem;
    border:none;
}

#new-btn{
    padding:1rem;
    font-size:1.5rem;
    background-color:#191913;
    color:#fff;
    border-radius:1rem;
    border:none;
}

#msg{
    color:#ffffc7;
    font-size:5vmin;
}

.msg-container{
    height:100vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap: 4rem;

}

.hide{
    display:none;
}
